<div class="main-content">
  <div class="container-fluid">
      <div class="row">



        
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">local_hospital</i>
                    </div>
                    <p class="card-category">Upa Pica das Galáxias</p>
                    <h4 class="card-title">50/50 
                        <span class="material-icons">
                            star_rate
                            </span>
                        <small>Serviço de Ortopedia</small>
                    </h4>                   
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="javascript:void(0)">Últimas Classificações</a>
                    </div>
                </div>
            </div>
        </div>

          
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">local_hospital</i>
                    </div>
                    <p class="card-category">Upa mais ou menos</p>
                    <h4 class="card-title">10/50 
                        <span class="material-icons">
                            star_rate
                            </span>
                        <small>Serviço de Ortopedia</small>
                    </h4>                   
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="javascript:void(0)">Últimas Classificações</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">local_hospital</i>
                    </div>
                    <p class="card-category">Upa Fudida</p>
                    <h4 class="card-title">0/50 
                        <span class="material-icons">
                            star_rate
                            </span>
                        <small>Serviço de Ortopedia</small>
                    </h4>                   
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="javascript:void(0)">Últimas Classificações</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">local_hospital</i>
                    </div>
                    <p class="card-category">Upa Desconhecida</p>
                    <h4 class="card-title">??/50 
                        <span class="material-icons">
                            star_rate
                            </span>
                        <small>Serviço de Ortopedia</small>
                    </h4>                   
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="javascript:void(0)">Últimas Classificações</a>
                    </div>
                </div>
            </div>
        </div>

        




        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">local_hospital</i>
                    </div>
                    <p class="card-category">Upa Pica das Galáxias</p>
                    <h4 class="card-title">50/50 
                        <span class="material-icons">
                            star_rate
                            </span>
                        <small>Serviço de Ortopedia</small>
                    </h4>                   
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="javascript:void(0)">Últimas Classificações</a>
                    </div>
                </div>
            </div>
        </div>

          
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">local_hospital</i>
                    </div>
                    <p class="card-category">Upa mais ou menos</p>
                    <h4 class="card-title">10/50 
                        <span class="material-icons">
                            star_rate
                            </span>
                        <small>Serviço de Ortopedia</small>
                    </h4>                   
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="javascript:void(0)">Últimas Classificações</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">local_hospital</i>
                    </div>
                    <p class="card-category">Upa Fudida</p>
                    <h4 class="card-title">0/50 
                        <span class="material-icons">
                            star_rate
                            </span>
                        <small>Serviço de Ortopedia</small>
                    </h4>                   
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="javascript:void(0)">Últimas Classificações</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">local_hospital</i>
                    </div>
                    <p class="card-category">Upa Desconhecida</p>
                    <h4 class="card-title">??/50 
                        <span class="material-icons">
                            star_rate
                            </span>
                        <small>Serviço de Ortopedia</small>
                    </h4>                   
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons text-danger">warning</i>
                        <a href="javascript:void(0)">Últimas Classificações</a>
                    </div>
                </div>
            </div>
        </div>









      </div> 
  
    </div>
</div>
